{% extends "base.html" %}
{% block main %}
<div class="w-100">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for categoria in object_list %}
            <tr>
                <td>{{ categoria.nome }}</td>
                <td>
                    <a class="me-3" href="{% url 'core:categoria_editar' categoria.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a data-bs-toggle="modal" href="#deleteModal"><i class="bi bi-x-lg"></i></a>
                    {% include 'categorias/categoria_confirm_delete.html' %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">
                    <p class="d-flex justify-content-center mb-0">Não existem categorias cadastradas</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="df jce w-100">
        <a href="{% url 'core:categoria_criar' %}"><button class="btn_azul">Novo</button></a>
    </div>
</div>
{% endblock %}
